$primary-color: #5e60ce;
$light-color: #f1faee;
$dark-color: #48bfe3;
$danger-color: #e63946;
$success-color: #a8dadc;
$max-width: 1100px;

// set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}
// margin and padding
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  // margin all around
  .m-#{$space} {
    margin: #{$space}rem;
  }
  // vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  // padding all around
  .p-#{$space} {
    padding: #{$space}rem;
  }
  // vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}

@mixin ease {
  transition: all 0.5s ease;
}
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
